<h3>Contact</h3>

<h4>You can contact us at the e-mail address: <strong>info@bookshop.com</strong></h4>

<img style="margin-right: 10px;" src="~/Images/contactPageBook.jpg" alt="" width="155" height="155" align="left">
<h4>
    Company address:<br /><br />
    Book Shop, Ltd.<br />
    Street Book 741<br />
    World of Books
</h4>

